# # Core packages
# Flask==3.0.3
# gunicorn

# # ML / DL
# tensorflow==2.10.1
# keras==2.10.0
# tensorflow-estimator==2.10.0
# tensorboard==2.10.1
# tensorflow-io-gcs-filesystem

# torch==2.8.0
# torchvision==0.23.0
# torchaudio==2.8.0

# scikit-learn
# numpy
# scipy
# pandas
# matplotlib
# Pillow

# # OpenCV
# opencv-python
# opencv-contrib-python

# # NLP / Transformers
# transformers
# huggingface-hub
# sentencepiece
# tokenizers

# # Utilities
# requests
# requests-oauthlib
# tqdm
# rich
# python-dateutil
# pytz
# pyyaml
# regex
# six
# typing_extensions

# Core packages
Flask==3.0.3
gunicorn

# ML / DL
# tensorflow==2.13.0
# keras==3.8.0

keras-core  # Required for Keras 3 with some backends
# tensorflow-estimator==2.13.0
# tensorboard==2.13.0
# tensorflow-io-gcs-filesystem

torch==2.8.0
torchvision==0.23.0
torchaudio==2.8.0

scikit-learn
numpy
scipy
pandas
matplotlib
Pillow

# OpenCV
opencv-python
opencv-contrib-python

# NLP / Transformers
transformers
huggingface-hub
sentencepiece
tokenizers

# Utilities
requests
requests-oauthlib
tqdm
rich
python-dateutil
pytz
pyyaml
regex
six
typing-extensions






tensorflow==2.13.0
keras==3.8.0








#pip install tensorflow==2.13.0
#pip install keras==3.8.0